services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    container_name: invasive-tracker-mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
      - MONGO_INITDB_DATABASE=invasive-species-tracker

volumes:
  mongo_data: